@import 'base';
@import 'variables';

.chat {
  width: var(--chat-width);
  position: absolute;
  right: 20px;
  bottom: 20px;
  //box-shadow: var(--chat-shadow);
  box-shadow: 1px 2px 10px #000;
  border-radius: var(--round-radius);
  &__status {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: gray;
    margin-left: 10px;
    &_active {
      background: lightgreen;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--black-color);
    height: var(--header-height);
    border-top-left-radius: var(--round-radius);
    border-top-right-radius: var(--round-radius);
    padding-inline: 15px;
    color: var(--header-color);
  }
  &__messages {
    height: var(--max-messages-height);
    overflow-y: auto;
    padding-inline: 15px;
    padding-block: 15px;
  }
  &__input-field {
    padding-inline: 15px;
    padding-block: 15px;
  }
  &__input {
    width: 100%;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: var(--round-radius);
    border: 1px solid grey;
  }
  .hidden {
    display: none;
  }
  &__hello-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__hello-form {
    justify-content: center;
    padding-block: 20px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
  }
  &__hello-input {
    padding-inline: 10px;
    padding-block: 5px;
    width: 100%;
  }
  &__hello-button {
    margin-top: 10px;
    padding-inline: 15px;
    padding-block: 10px;
    background: green;
    color: white;
    font-size: 13px;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background: lightgreen;
    }
  }
}
