:root {
  --black-color: #2f2f2f;
  --white-color: #ffffff;
  --header-height: 50px;
  --header-color: white;
  --chat-width: 300px;
  --chat-shadow: 2px 14px #7d7d7d;
  --round-radius: 10px;
  --max-messages-height: 500px;
}
